@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

/* Buttone Styling */
#move,
#upgrade,
#act,
#rehearse {
  background-color: #3973cc;
  font-size: 20px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  -fx-font-family: "PT Serif", serif;
  -fx-font-size: 20;
  -fx-font-weight: 700;
  -fx-background-color: #fef5ec;
  -fx-text-fill: #000;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 6, 0, 0, 0);
}

#move:hover,
#upgrade:hover,
#act:hover,
#rehearse:hover,
#endTurn:hover {
  cursor: hand;
  font-size: 20px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  -fx-font-family: "PT Serif", serif;
  -fx-font-size: 20;
  -fx-font-weight: 700;
  -fx-cursor: hand;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 10, 0, 0, 0);
}

#move,
#deactivatedMove {
  border-radius: 0;
  -fx-border-radius: 20px 0 0 0;
  -fx-background-radius: 20px 0 0 0;
}

#upgrade,
#deactivatedUpgrade {
  border-radius: 0;
  -fx-border-radius: 0 20px 0 0;
  -fx-background-radius: 0 20px 0 0;
}

#endTurn {
  border-radius: 0;
  background-color: #b81106;
  font-size: 20px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  -fx-font-family: "PT Serif", serif;
  -fx-font-size: 20;
  -fx-font-weight: 700;
  -fx-background-color: #b17246;
  -fx-text-fill: #000;
  -fx-border-radius: 0px 0px 20px 20px;
  -fx-background-radius: 0px 0px 20px 20px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 6, 0, 0, 0);
}

#deactivatedMove {
  background-color: #8d9db5;
  font-size: 20px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  -fx-font-family: "PT Serif", serif;
  -fx-font-size: 20;
  -fx-font-weight: 700;
  -fx-background-color: #8d9db5;
  -fx-text-fill: #eee;
}

#deactivatedUpgrade {
  background-color: #8d9db5;
  font-size: 20px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  -fx-font-family: "PT Serif", serif;
  -fx-font-size: 20;
  -fx-ont-weight: 700;
  -fx-background-color: #8d9db5;
  -fx-text-fill: #eee;
}

#deactivatedAct,
#deactivatedRehearse {
  background-color: #8d9db5;
  font-size: 20px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  -fx-font-family: "PT Serif", serif;
  -fx-font-size: 20;
  -fx-font-weight: 700;
  -fx-background-color: #8d9db5;
  -fx-text-fill: #eee;
}

/* Text Display Styling */
#player,
#playerMoney,
#playerCredits,
#playerRole {
  font-size: 20px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  -fx-font-family: "PT Serif", serif;
  -fx-font-size: 20;
  -fx-font-weight: 700;
  -fx-text-fill: #000;
}

#currentPlayer,
#currentPlayerMoney,
#currentPlayerCredits,
#currentPlayerRole {
  font-size: 18px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  -fx-font-family: "PT Serif", serif;
  -fx-font-size: 18;
  -fx-font-weight: 700;
  -fx-text-fill: #000;
}
